:root {
  --body-color: #000000;
  --sec-color: #FFFFFF;
  --third-color: #1C5D99;
  --fourth-color: #639FAB;
  --text-color: #BBCDE5;
}

.tiles {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.home-container {
  background-color: var(--body-color);
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

.runner-img {
  height: 30%;
width: 30%;
margin-left: 45%;
border-radius: 20px;
}

.logo-image {
  margin-left: 40%;
  width: 600px;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 20px;

  
}

.activities-img{
  border-radius: 20px;
  height: 70%;
  width: 70%;

}

.activities-img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
  
 



.activities-header{
  color: var(--text-color);
  font-size: 50px;
  font-weight: 500;
 
}

.category-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 20px;


}